.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.markdown {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;

  .md {
    margin: 20px 20px;
    width: 670px;
  }

}
