.content {
  display: flex;
  flex-direction: row;
  margin: 25px 20px 0 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  padding: 20px 20px;
  align-items: center;
  justify-content: space-between;
}

.title_view {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content_title {
  margin-left: 20px;
  color: #333;
  font-size: 32px;
}
