.content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  margin: 20px 20px 0 20px;
  width: 710px;
}

.info_view {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;

  .avatar {
    margin-left: 20px;
  }

  .text_view {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    .username {
      color: #333333;
      font-size: 32px;
    }

    .time {
      margin-top: 20px;
      color: #7f7f7f;
      font-size: 30px;
    }
  }
}

.markdown {
  display: flex;
  flex-direction: column;
  width: 710px;
  background-color: #fff;

  .md {
    margin: 20px 20px;
    width: 670px;
  }
}
