/**引入主题样式**/
@import '../towxml/style/main.wxss';
@import '../towxml/style/theme/light.wxss';
@import '../towxml/style/theme/dark.wxss';

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.fail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.text {
  align-self: center;
  text-align: center;
  color: #2d8cf0;
  font-size: 30px;
}
